.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px; /* w-[140px] */
    height: 140px; /* h-[140px] */
    border-radius: 50%; /* rounded-full */
    background: var(--blue-gradient); /* bg-blue-gradient */
    padding: 2px; /* p-[2px] */
    cursor: pointer;
  }
  
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color); /* bg-primary */
    width: 100%; /* w-[100%] */
    height: 100%; /* h-[100%] */
    border-radius: 50%; /* rounded-full */
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .get-started-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* font-medium */
    font-size: 18px; /* text-[18px] */
    line-height: 23.4px; /* leading-[23.4px] */
    color: var(--text-gradient); /* text-gradient */
  }
  
  .arrow-icon {
    width: 23px; /* w-[23px] */
    height: 23px; /* h-[23px] */
    object-fit: contain;
  }
  