.feedback-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem 1.875rem; /* px-10 py-12 */
    border-radius: 20px; /* rounded-[20px] */
    max-width: 370px; /* max-w-[370px] */
    margin-right: 1.25rem; /* md:mr-10 sm:mr-5 mr-0 */
    margin-bottom: 1.25rem; /* my-5 */
    background-color: var(--primary-color);
  }
  
  .quote-icon {
    width: 42.6px;
    height: 27.6px;
    object-fit: contain;
  }
  
  .feedback-content {
    font-family: 'Poppins', sans-serif;
    font-size: 18px; /* text-[18px] */
    line-height: 32.4px; /* leading-[32.4px] */
    color: #ffffff; /* text-white */
    margin-top: 1.25rem; /* my-10 */
  }
  
  .feedback-author {
    display: flex;
    align-items: center;
  }
  
  .author-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  
  .author-info {
    margin-left: 0.625rem; /* ml-4 */
  }
  
  .author-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* font-semibold */
    font-size: 20px; /* text-[20px] */
    line-height: 32px; /* leading-[32px] */
    color: #ffffff; /* text-white */
  }
  
  .author-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* text-[16px] */
    line-height: 24px; /* leading-[24px] */
    color: #d1d1d1; /* text-dimWhite */
  }
  