.title-contact{
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  min-height: 15vh;
}

.contact-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgb(9, 151, 124, 0.0.1);
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
  max-width: 1200px;
  margin: 20px auto;
  align-items: stretch;
  background-color: rgb(11, 10, 12, 0.2);
  
}

.form-container, .info-container {
  padding: 20px;
}

.form-container {
  flex: 3;
  border-radius: 15px 0 0 15px;
  padding: 60px;
  
}

.info-container {
  flex: 1.5;
  background-color: #33BBCF;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
}

.info-container h2{
  font-size: 3rem;
  font-weight: 900;
}

.form-container h2 {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  min-width: 60%;
  margin-bottom: 20px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #aeaeae;
  resize: none;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  font-size: 24px;
}

.social-icons a:hover {
  color: #dcdcdc;
}


/* MUI Styles */
.MuiButton-root.custom-button {
  background-color: #33BBCF;
  color: white;
  border: none;
  padding: 10px 90px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.MuiButton-root.custom-button:hover {
  background-color: #2ca1b3;
}

.MuiFormControl-root {
  margin-bottom: 30px !important;
  width: 100%;
}


.input-white .MuiOutlinedInput-root {
  color: white;
  border-color: white;
}


.input-white .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}


.input-white .MuiInputLabel-outlined {
  color: white;
}

.input-white .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #33BBCF;
}

.input-white .MuiOutlinedInput-root {
  color: white;
  border-color: white;
}

.input-white .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.input-white .MuiInputLabel-outlined {
  color: white;
}

.input-white .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #e5e5e5;
}


@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 20px;
    margin: 5px;
  }

  .form-container, .info-container {
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
  }

  .info-container {
    border-radius: 15px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .contact-container {
    padding: 10px;
    margin: 5px;
  }

  .form-container, .info-container {
    margin: 5px;

  }
}

