.heading-container {
    max-width: 50rem; /* max-w[50rem] */
    margin: auto;
    margin-top: 5rem; /* mt-5 */
    margin-bottom: 20rem; /* mb-20 */
  }
  
  .heading-title {
    font-size: 4rem; /* text-4xl */
    font-weight: bold; /* font-bold */
    color: #ffffff; /* text-white */
    text-align: center;
  }
  