.footer {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(180px);
    padding: 30px;
    margin-top: 5rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 20rem;
}

.footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item {
    flex: 1 0 200px;
    margin-bottom: 16px;
}

.footer-title {
    font-size: 1rem;
    margin-bottom: 12px;
    margin-top: 15px;
    font-weight: bold;
}

.logo-footer{
    height: 100px;
}

.footer-link {
    color: #c6c6c6;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-left: -4px; /* Ajuste para eliminar el espacio */
}

.footer-link:hover{
    text-decoration: underline;
    color: #33BBCF;
}

.footer-link:hover {
    text-decoration: none;
}

.social-link a {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background: none;
    border: 2px solid;
    border-radius: 50px;
    padding: 10px 0px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    justify-content: center;
    width: 80%;
    font-size: 1.1rem;
}

.social-link a:hover {
    color: #000000;
    background-color: #e5e5e5;
}

.footer-bottom a{
    color: #33BBCF;
}