@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #010b15;
  color: #e5e5e5;
  transition: 0.4s all ease-in-out;
  scroll-behavior: smooth;
}

.content-app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  
}

::selection{
  color: #e5e5e5;
  background-color: #33BBCF;
}

h2{
  font-weight: 600;
}

p{
  color: #ced4da;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #010b15;
}

body::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}

.back-button{
  color: #e5e5e5;
}

.back-button:hover{
  color: #d4d4d4;
}

.arrow-return{
  font-size: 30px;
  margin: 10px;
}